git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
mkdocs-glightbox
mkdocs-include-markdown-plugin
jinja2
markdown
mkdocs
mkdocs-material-extensions
mkdocs-redirects
pygments
pymdown-extensions
babel
colorama
paginate
regex
requests
material-plausible-plugin
nodeenv
pillow
cairosvg
urllib3
mkdocs-git-committers-plugin-2