git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
#mkdocs-material
mkdocs-glightbox
mkdocs-include-markdown-plugin
jinja2
markdown
mkdocs
mkdocs-material-extensions
mkdocs-redirects
pygments
pymdown-extensions
babel
colorama
paginate
regex
requests
material-plausible-plugin
nodeenv
pillow
cairosvg
urllib3
mkdocs-git-committers-plugin-2
mkdocs-open-in-new-tab
#
mkdocs-abs-rel-plugin
mkdocs-add-number-plugin
mkdocs-autolinks-plugin
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-codeinclude-plugin
mkdocs-enumerate-headings-plugin
mkdocs-exclude
mkdocs-embed-external-markdown
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-img2fig-plugin
mkdocs-kroki-plugin
mkdocs-localsearch
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-merge
mkdocs-minify-plugin
mkdocs-monorepo-plugin
mkdocs-multirepo-plugin
mkdocs_pymdownx_material_extras
mkdocs-safe-text-plugin
mkdocs-simple-hooks
mkdocs-render-swagger-plugin
mkdocs-versioning
mkdocs-with-confluence
mkdocstrings
mkdocs-rtd-dropdown
neoteroi-mkdocs
markdown-include
pyyaml
fontawesome-markdown@https://github.com/bmcorser/fontawesome-markdown/archive/master.zip
mkdocs-material[imaging]